---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import avatar from '../avatar.png';
import { faker } from '@faker-js/faker';

const content = () =>
  Array.from(Array(3), () => ({
    title: faker.lorem.words({ min: 3, max: 5 }),
    summary: faker.lorem.sentence({ min: 4, max: 15 }),
    dateCreated: faker.date.past({ years: 2 }).toLocaleDateString(),
  }));
---

<Layout title="dayan's life">
  <main class="space-y-10 p-12">
    <div class="flex flex-row justify-between space-x-4">
      <Card href="/my-work" title="my work">
        <div class="space-y-4">
          {
            content().map((text) => (
              <div class="flex flex-row items-start space-x-5">
                <div>
                  <h3 class="w-max pt-0.5 font-light">{text.dateCreated}</h3>
                </div>
                <div class="space-y-0">
                  <h3 class="text-lg">{text.title}</h3>
                  <p class="">{text.summary}</p>
                </div>
              </div>
            ))
          }
        </div>
      </Card>
      <Card href="/my-work" title="my work">
        <div class="space-y-4">
          {
            content().map((text) => (
              <div class="flex flex-row items-start space-x-5">
                <div>
                  <h3 class="w-max pt-0.5 font-light">{text.dateCreated}</h3>
                </div>
                <div class="space-y-0">
                  <h3 class="text-lg">{text.title}</h3>
                  <p class="">{text.summary}</p>
                </div>
              </div>
            ))
          }
        </div>
      </Card>
      <Card href="/my-work" title="my work">
        <div class="space-y-4">
          {
            content().map((text) => (
              <div class="flex flex-row items-start space-x-5">
                <div>
                  <h3 class="w-max pt-0.5 font-light">{text.dateCreated}</h3>
                </div>
                <div class="space-y-0">
                  <h3 class="text-lg">{text.title}</h3>
                  <p class="">{text.summary}</p>
                </div>
              </div>
            ))
          }
        </div>
      </Card>
    </div>
    <div class="flex flex-row items-center justify-center space-x-4">
      <div class="basis-1/3">
        <Image
          src={avatar}
          alt="Picture of me"
          class="card-shadow ml-[10%] w-[80%] rounded-full border-2 border-zinc-900 bg-zinc-50 shadow-zinc-800"
        />
      </div>
      <div class="h-min basis-2/3">
        <Card href="" title="about me">
          <p>
            I'm a twisted, high-powered Senior Researcher at LIRNEasia, a wild
            ride of scholarly rigor and practical expertise. I use data-centric
            methodologies to tackle gnarly issues and spark real change. My
            background is a strange trip - a Bachelor's in Liberal Arts &
            Sciences from the wilds of Quest University (British Columbia),
            where I got deep into computational mathematics and critical theory,
            especially the dark side of security and intelligence studies.
            Before joining this circus, I was knee-deep in public policy
            research, focused on the twisted world of political media. I
            consulted for some wild characters - political bodies and NGOs in
            Canada and Sri Lanka.
          </p>
        </Card>
      </div>
    </div>
  </main>
</Layout>

<style>
  .card-shadow {
    box-shadow: var(--tw-shadow-color) 7px 7px;
  }
</style>
