---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import avatar from '../avatar.png';
import { faker } from '@faker-js/faker';

const content = () =>
  Array.from(Array(3), () => ({
    title: faker.lorem.words({ min: 3, max: 5 }),
    summary: faker.lorem.sentence({ min: 4, max: 15 }),
    dateCreated: faker.date.past({ years: 2 }).toLocaleDateString(),
  }));
---

<Layout title="dayan's life">
  <main class="space-y-10 p-12">
    <div class="flex flex-row justify-between space-x-4">
      <Card href="/my-work" title="my work">
        <div class="space-y-4">
          {
            content().map((text) => (
              <div class="flex flex-row items-start space-x-2">
                <div class="basis-1/5 ">
                  <h3 class="pt-0.5 font-light">{text.dateCreated}</h3>
                </div>
                <div class="basis-4/5 space-y-0">
                  <h3 class="text-lg">{text.title}</h3>
                  <p class="font-light">{text.summary}</p>
                </div>
              </div>
            ))
          }
        </div>
      </Card>
      <Card href="/my-work" title="my work">
        <div class="space-y-4">
          {
            content().map((text) => (
              <div class="flex flex-row items-start space-x-2">
                <div class="basis-1/5 ">
                  <h3 class="pt-0.5 font-light">{text.dateCreated}</h3>
                </div>
                <div class="basis-4/5 space-y-0">
                  <h3 class="text-lg">{text.title}</h3>
                  <p class="font-light">{text.summary}</p>
                </div>
              </div>
            ))
          }
        </div>
      </Card>
      <Card href="/my-work" title="my work">
        <div class="space-y-4">
          {
            content().map((text) => (
              <div class="flex flex-row items-start space-x-2">
                <div class="basis-1/5 ">
                  <h3 class="pt-0.5 font-light">{text.dateCreated}</h3>
                </div>
                <div class="basis-4/5 space-y-0">
                  <h3 class="text-lg">{text.title}</h3>
                  <p class="font-light">{text.summary}</p>
                </div>
              </div>
            ))
          }
        </div>
      </Card>
    </div>
    <div class="flex flex-row items-center justify-center space-x-4">
      <div class="basis-1/3">
        <Image
          src={avatar}
          alt="Picture of me"
          class="card-shadow ml-[10%] w-[80%] rounded-full border-2 border-zinc-900 bg-zinc-50 shadow-zinc-800"
        />
      </div>
      <div class="h-min basis-2/3">
        <Card href="" title="about me">
          <div class="ml-1 space-y-1">
            <p>
              I like symbols, both words and numbers. My research in language is
              driven by this curiosity in how language shapes human experience.
            </p>
            <p>
              I earned a Bachelor’s degree in Liberal Arts & Sciences from Quest
              University (British Columbia), with a focus on mathematics and
              critical theory.
            </p>
            <p>
              Currently, I serve as a Senior Researcher in NLP R&D,(and
              implementation,) and TMT policy. Before that, I consulted at
              McKinsey for 2 years. Both focused on the APAC.
            </p>
          </div>
        </Card>
      </div>
    </div>
  </main>
</Layout>

<style>
  .card-shadow {
    box-shadow: var(--tw-shadow-color) 7px 7px;
  }
</style>
